body {
    padding-top: 50px;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.billetTitle:hover, .billetTitle:focus {
    text-decoration: none;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

.answer{
    margin-left: 50px;
}

.signalButton {
    background-color: #b92c28;
    border-color: #b92c28;
}

.signalButton:hover {
    background-color: #880000;
    border-color: #880000;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}